{% extends "layout.html.twig" %}


{% block content %}

    <div class="row">
        il faut supprimer  <strong>{{ nombre }} </strong> enregistrements dans la table OEUVRE avant de supprimer cet Auteur
        <br> (et peut être dans la table des enregistrements dans les tables EXEMPLAIRE et EMPRUNT)
        <br>
    </div>
    <a href="{{ path('auteur_afficherAuteurs') }}">annuler</a>

{% endblock %}